.hello {
  
  margin: 20px;
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hello button {
  margin-left: 15px;
display: flex-column;
  font-size: 20px;
  min-width: 50px;
justify-content: center;

}
